.modal {
    position: fixed;
    inset:0;  
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  
    .wrapper {
      border-radius: 0.4rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      min-width: 20rem;
      width: 50rem;
      &__close-icon {
         opacity: 0.3;
         cursor: pointer;
      }
  
      &__content {
        padding: 1.5rem;
        overflow-y: auto;
        overflow-x: hidden;
      }
  
      &__buttons {
        margin: 1.5rem;
  
        button {
          font-size: 1.4rem;
          padding: 1rem 1.2rem;
        }
  
        &__lg {
          width: 52rem;
        }
      }
  
      hr {
        border: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
  }