.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  max-width: 90%;
  margin-inline:auto;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
   }

  li {
    list-style: none;
  }

  &__label {
    color: $dash-primary-800;
    font-size: medium;
    font-size: 1rem;
    font-weight: 500;

    
  @media (max-width: 1024px) {
     order: 2;
     margin-bottom: 4px;
   }

  }

  &__control {
    padding: 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    border-top-color: #e2e8f0;
    border-bottom-color: #e2e8f0;
    border-radius: 0.25rem;
    background-color: #fff;
    max-width: 27rem;
    cursor: pointer;

    @media (max-width: 1024px) {
      order: 1;
     }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      min-width: 3rem;
      border: 1px solid #edf2f7;
      border-color: #edf2f7;
      color: $dash-primary-800;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
      flex-grow: 1;

      &:hover {
        background-color: $dash-primary-200;
        color: $dash-primary-800;
        cursor: pointer;
        outline: none;
      }

      &.current {
        background-color: $dash-primary-800;
        color: #fff;
        font-weight: bold;
      }
    }

    &__item-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      min-width: 3rem;
      border: 1px solid #edf2f7;
      border-color: #edf2f7;
      transition: background-color 0.3s, color 0.3s;

      &:hover:enabled {
        background-color: $dash-primary-200;
        color: $dash-primary-800;
        cursor: pointer;
        outline: none;
      }

      &:disabled {
        background-color: $gray-500;
        cursor: not-allowed;
      }
    }
  }
}