.table-wrapper {
    overflow: auto;
 

    table {
        border-collapse: collapse;  
        border-radius: 10px;
         border: 2px solid $dash-primary-800;  
        border-top: none;  
        overflow: auto;
        width: 90%;
        margin-inline:auto;

        thead {
            color: $dash-primary-800;
            background: $light;
        }

        th {
             border: 2px solid $dash-primary-800;
            padding: 1rem;
            text-align: center;

        }

        tr{
            &:nth-child(even){
                // background-color: $dash-primary-100;
            }
        }

        td {
            border: 2px solid $dash-primary-800;
            padding: 1rem;
            text-align: center;
            &:first {
                border-right : none;
            }

         
        }
    }

}
