.widget{
    cursor: pointer;
    &__number{
       color: #333333;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 4rem;
        font-family: sans-serif;
    }
    &__title{
        color: #858585;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 30px;
        font-family: revert;
    }
}
