.menu {
	padding-inline: 1rem ;
	padding-block: 2rem ;
	font-size: 1rem;
	color: white;
	height: 100%;
 
	@media (min-width:1499px) {
 			padding: 2rem ;

 	}

	&__main__link {
		cursor: pointer;
 		margin-bottom: 1.5em;
		padding: .5rem;
		color: white;
		text-decoration: none;

		@media (min-width:1200px) {
  		padding: 1rem;


	}

		svg {
 			fill: white;
		}
	}

	&__main__sub-link {
		max-height: 0;
		overflow: hidden;
		transition: all 400ms ease-in-out;
		list-style: none;

		&__item:first-of-type {
			margin-top: 1.16rem;
		}
		&__item {
			margin-bottom: 1rem;
			margin-inline-start: 3.5rem;
			cursor: pointer;
			color: #858585;
			font-size: 15px;
			font-weight: 600;
			transition: 200ms ease-in-out background-color, 200ms ease-in-out color;
		}
	}

	.menu-active {
		background-color: white;
 		border-radius: 0.5rem;
		font-weight: 600;
		color: $dash-primary-800 !important;
		display: inline-block;

		ul {
			max-height: 1000px;
			transition: all 400ms ease-in-out;
		}

		svg {
			fill: $dash-primary-800;
		}
	}
}
