<div class="mx-auto w-90">
  <h1 class="text-dash-primary-800 fw-bolder fs-2 mb-4">POSTS</h1>
  <dash-search
    [inputClasses]="'mb-2'"
    (searchValueChange)="getFilteredData($event)"
    [searchValue]="searchTerm"
  ></dash-search>
  <select
    #sortSelect
    class="form-select mb-4 mt-2"
    aria-label="Default select example"
    (change)="getSortedData(sortSelect.value)"
  >
    <option selected disabled>Open this select menu</option>
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</div>

@if (posts.length > 0) {
  <dash-table
    [totalCount]="posts.length"
    [tableData]="paginatedData"
    [headers]="headers"
    [pageSize]="5"
    [showPagination]="true"
    (pageNumberChange)="pageNumberChange($event)"
    [actions]="actions"
  ></dash-table>
} @else {
  <dash-no-data-found></dash-no-data-found>
}
