<div class="table-wrapper" [ngClass]="customClass" *ngIf="tableData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header.name }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="color-shark">
      <tr *ngFor="let item of tableData">
        <td *ngFor="let header of headers; let i = index" [ngClass]="header.classesStyle">
          <span *ngIf="header.value"> {{ getRowValueFromHeader(header, item) }}</span>
        </td>
        <td *ngIf="actions">
          <div
            *ngFor="let action of actions"
            class="iconStyle d-flex justify-content-stretch align-items-center gap-1 cursor-pointer"
            [ngClass]="action.iconClasses"
            (click)="action.callback(item)"
          >
            <div class="d-flex align-items-center gap-1 justify-content-around">
              <span class="text-nowrap mb-1">{{ action.label }}</span>
              <span class="font-size-24 d-inline" [ngClass]="action.icon"></span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- pagination -->
<div *ngIf="showPagination" class="my-4 pt-2">
  <dash-pagination
    (pageNumberChange)="pageNumberChange.emit($event)"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    [totalPages]="Math.ceil(totalCount / pageSize)"
  ></dash-pagination>
</div>
