<div class="table-wrapper" [ngClass]="customClass" *ngIf="tableData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header.name }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="color-shark">
      <tr *ngFor="let item of tableData">
        <td *ngFor="let header of headers; let i = index" [ngClass]="header.classesStyle">
          <span *ngIf="header.value"> {{ getRowValueFromHeader(header, item) }}</span>
        </td>
        <td *ngIf="actions">
          <div
            *ngFor="let action of actions"
            class="iconStyle d-flex justify-content-center align-items-center gap-2 cursor-pointer"
            [ngClass]="action.iconClasses"
            (click)="action.callback(item)"
          >
            <span role="button" tabindex="0" class="text-nowrap mb-1 d-inline-block" [title]="action.label">
              <i class="pi d-inline-block" [ngClass]="action.icon" style="color: #023e8a"></i>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- pagination -->
<div *ngIf="showPagination" class="my-4 pt-2">
  <dash-pagination
    (pageNumberChange)="pageNumberChange.emit($event)"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    [totalPages]="Math.ceil(totalCount / pageSize)"
  ></dash-pagination>
</div>
