<div
  (focus)="inputUi.focus()"
  [ngClass]="[isDisabled ? 'disabled' : '', appliedClasses]"
  class="d-flex gap-2 justify-items-center bg-white rounded position-relative bg-danger search"
  tabindex="-1"
>
  <input
    #inputUi
    (input)="onSearchValueChange($event)"
    [(ngModel)]="searchValue"
    [disabled]="isDisabled"
    [ngClass]="[isDisabled ? 'disabled' : '', inputClasses]"
    [placeholder]="placeholder || 'GENERAL.SEARCH' | translate"
    class="outline-none w-full form-control"
    type="search"
  />
</div>
